body {
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #000311;
    background: #fff;
    position: relative;
    height: 100%;
    /*background-color: #07d8d8;*/
    background-repeat: no-repeat;
    background:linear-gradient(0deg, rgba(7, 216, 216, 0.2), rgba(7, 216, 216, 0.2)), url("/installer/Images/pexels-emre-can-2079438.jpg");
    background-size: cover;
}

a { color: rgb(0, 65, 255); text-decoration: none;}

.initial-display{
    padding-top: 50px;
    text-align: center;
}

.initial-display .logo {
    width: 150px;
}

.initial-display p {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 10px;
}

.card {
    border-radius: 5px;
    box-shadow: 1px 9px 18px rgba(62, 85, 120, 0.45);
}

.btn-primary {
    background-color: #0041FF;
}

.warning {
    margin-left: 15%;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
}

.form-control{
    border: 2px solid #C7C7C7;
    border-radius: 3px;
    -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0px 10px;
    font-size: 15px;
    margin-top: 10px;
}

.form-control:focus {
    border-color: #0041FF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(11, 50, 139, 0.5);
}

.form-group label.required::after {
    margin-left: 1px;
    content: "*";
    color: #FC6868;
    font-weight: 700;
    display: inline-block;
}

.form-error {
    color: #ff5656 !important;
}

.control-group.has-error .control {
    border-color: #FC6868 !important;
}

.requirements_list {
    width: 90%;
    list-style: none;
    margin-left: 4%;
    padding:0;
}

.requirements_list li { 
    padding: 0 10px 10px; 
    margin-bottom: 10px; 
    border-bottom: 1px dashed #dcdcdc; 
    line-height: normal; 
}

.requirements_list li:last-child { border-bottom: 0;}

.requirements_list small {
    font-size: 13px; 
    color:#9b9b9b;
}

.title {
    font-size: 16px;
    color: #151515;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.welcome, .environment, .migration, .permission, .admin, .finish {
    display : none;
}

.check {
    line-height: 35px;
    margin-left: 25%;
}

.composer {
    position: auto;
    top: calc(50% + 24px);
    display: none;
}

.message {
    padding-left: 140px;
}

.cp-round {
    position: auto !important;
    padding-bottom: 130px;
}

.cp-round:before {
    border-radius: 50%;
    content: " ";
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-top: solid 6px #bababa;
    border-right: solid 6px #bababa;
    border-bottom: solid 6px #bababa;
    border-left: solid 6px #bababa;
    position: absolute;
    top: calc(40% - 14px);
    left: calc(50% - 24px);
}

.cp-round:after {
    border-radius: 50%;
    content: " ";
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-top: solid 6px #0041FF;
    border-right: solid 6px #bababa;
    border-bottom: solid 6px #bababa;
    border-left: solid 6px #bababa;
    position: absolute;
    top: calc(40% - 14px);
    left: calc(50% - 24px);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .initial-display{
        padding-top: 15px;
    }

    .initial-display p {
        margin-top: 4px;
    }    
}

/* Select */

.select2-container--bootstrap4 .select2-selection--single {
    height: calc(2.25rem + 2px) !important; }
    .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
      color: #757575;
      line-height: 2.25rem; }
    .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
      position: absolute;
      top: 50%;
      right: 3px;
      width: 20px; }
      .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
        top: 60%;
        border-color: #343a40 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        width: 0;
        height: 0;
        left: 50%;
        margin-left: -4px;
        margin-top: -2px;
        position: absolute; }
    .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
      line-height: 2.25rem; }
  
  .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
    border-radius: 0.25rem; }
  
  .select2-results__message {
    color: #6c757d; }
  
  .select2-container--bootstrap4 .select2-selection--multiple {
    min-height: calc(2.25rem + 2px) !important; }
    .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0 5px;
      width: 100%; }
    .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
      color: #343a40;
      border: 1px solid #bdc6d0;
      border-radius: 0.2rem;
      padding: 0;
      padding-right: 5px;
      cursor: pointer;
      float: left;
      margin-top: 0.3em;
      margin-right: 5px; }
    .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
      color: #bdc6d0;
      font-weight: bold;
      margin-left: 3px;
      margin-right: 1px;
      padding-right: 3px;
      padding-left: 3px;
      float: left; }
      .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove:hover {
        color: #343a40; }
  
  .select2-container {
    display: block; }
    .select2-container *:focus {
      outline: 0; }
  
  .input-group .select2-container--bootstrap4 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .input-group-prepend ~ .select2-container--bootstrap4 .select2-selection {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  
  .input-group > .select2-container--bootstrap4:not(:last-child) .select2-selection {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  
  .select2-container--bootstrap4 .select2-selection {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    width: 100%; }
    @media screen and (prefers-reduced-motion: reduce) {
      .select2-container--bootstrap4 .select2-selection {
        -webkit-transition: none;
        transition: none; } }
  
  .select2-container--bootstrap4.select2-container--focus .select2-selection {
    border-color: #0041FF;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  
  .select2-container--bootstrap4.select2-container--focus.select2-container--open .select2-selection {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  
  .select2-container--bootstrap4.select2-container--disabled .select2-selection, .select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-selection {
    background-color: #e9ecef;
    cursor: not-allowed;
    border-color: #ced4da;
    -webkit-box-shadow: none;
            box-shadow: none; }
  
  .select2-container--bootstrap4.select2-container--disabled .select2-search__field, .select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-search__field {
    background-color: transparent; }
  
  select.is-invalid ~ .select2-container--bootstrap4 .select2-selection,
  form.was-validated select:invalid ~ .select2-container--bootstrap4 .select2-selection {
    border-color: #dc3545; }
  
  select.is-valid ~ .select2-container--bootstrap4 .select2-selection,
  form.was-validated select:valid ~ .select2-container--bootstrap4 .select2-selection {
    border-color: #28a745; }
  
  .select2-container--bootstrap4 .select2-dropdown {
    border-color: #ced4da;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    .select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above {
      border-top: 1px solid #ced4da;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem; }
    .select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true] {
      background-color: #e9ecef; }
  
  .select2-container--bootstrap4 .select2-results__option--highlighted,
  .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    background-color: #0041FF;
    color: #f8f9fa; }
  
  .select2-container--bootstrap4 .select2-results__option[role=group] {
    padding: 0; }
  
  .select2-container--bootstrap4 .select2-results > .select2-results__options {
    max-height: 15em;
    overflow-y: auto; }
  
  .select2-container--bootstrap4 .select2-results__group {
    padding: 6px;
    display: list-item;
    color: #6c757d; }
  
  .select2-container--bootstrap4 .select2-selection__clear {
    width: 1.2em;
    height: 1.2em;
    line-height: 1.15em;
    padding-left: 0.3em;
    margin-top: 0.5em;
    border-radius: 100%;
    background-color: #6c757d;
    color: #f8f9fa;
    float: right;
    margin-right: 0.3em; }
    .select2-container--bootstrap4 .select2-selection__clear:hover {
      background-color: #343a40; }
  